begginner/email-testing.json
{
    "nodes": [
      {
        "parameters": {
          "formTitle": "Lead form ",
          "formDescription": "Form for new leads for my lead generation.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Full Name",
                "placeholder": "Jhon smith"
              },
              {
                "fieldLabel": "What's your email ?",
                "fieldType": "email",
                "placeholder": "johnsmith@gmail.com",
                "requiredField": true
              },
              {
                "fieldLabel": "What project do you want to automated?",
                "fieldType": "textarea",
                "placeholder": "Describe your project here.",
                "requiredField": true
              },
              {
                "fieldLabel": "What is your time frame?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "1 - 3 months"
                    },
                    {
                      "option": "3 - 6 months"
                    },
                    {
                      "option": "6 - 9 months"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "What's your project budget ?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "$997 - $2997"
                    },
                    {
                      "option": "$2997 - $4997"
                    },
                    {
                      "option": "$4997 - $10997"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          240,
          384
        ],
        "id": "17bd4021-20e6-4baa-9b82-0189eedaa444",
        "name": "On form submission",
        "webhookId": "e3b3bfbd-6355-4013-b411-9c9530bd3cc1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['What\\'s your project budget ?'] }}",
                      "rightValue": "$997 - $2997",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "97aeb6d3-7a23-476e-9637-8d436b86922e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "low budget"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "825e8cc3-7612-4a82-b240-8346331cc099",
                      "leftValue": "={{ $json['What\\'s your project budget ?'] }}",
                      "rightValue": "$2997 - $4997",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "medium budget"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "50b2c498-4386-41ed-a7c2-17643c07a79f",
                      "leftValue": "={{ $json['What\\'s your project budget ?'] }}",
                      "rightValue": "$4997 - $10997",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "high budget "
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          448,
          368
        ],
        "id": "c8668848-66fa-495b-84f6-f01de03a6f40",
        "name": "Switch"
      },
      {
        "parameters": {
          "content": "## This workflow is for email testing\n",
          "height": 512,
          "width": 1008
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          208
        ],
        "typeVersion": 1,
        "id": "69922bd1-d47c-48a5-a158-f3aaf0c60b6a",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "sendTo": "={{ $('On form submission').item.json['What\\'s your email ?'] }}",
          "subject": "Your Form submission copy ",
          "emailType": "text",
          "message": "=hello {{ $('On form submission').item.json['Full Name'] }} Thank you for reaching out we will repond as soon as possible about your project details \n\nForm details:\nName: {{ $('On form submission').item.json['Full Name'] }}\nYour project details: {{ $('On form submission').item.json['What project do you want to automated?'] }}\n\nTime Frame: {{ $('On form submission').item.json['What is your time frame?'] }}\n\nYour budget: {{ $('On form submission').item.json['What\\'s your project budget ?'] }}\n\n",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          704,
          240
        ],
        "id": "797a642e-bf4d-4214-b40a-e63e47eb9daa",
        "name": "Low budget",
        "webhookId": "11c6d891-25a9-4536-809f-594c70209f87",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $('On form submission').item.json['What\\'s your email ?'] }}",
          "subject": "Your Form submission copy ",
          "emailType": "text",
          "message": "=hello {{ $('On form submission').item.json['Full Name'] }} Thank you for reaching out we will repond as soon as possible about your project details \n\nForm details:\nName: {{ $('On form submission').item.json['Full Name'] }}\nYour project details: {{ $('On form submission').item.json['What project do you want to automated?'] }}\n\nTime Frame: {{ $('On form submission').item.json['What is your time frame?'] }}\n\nYour budget: {{ $('On form submission').item.json['What\\'s your project budget ?'] }}\n\n",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          704,
          384
        ],
        "id": "363a651d-c565-4e59-bfa0-ca2da6d2e190",
        "name": "medium budget",
        "webhookId": "11c6d891-25a9-4536-809f-594c70209f87",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $('On form submission').item.json['What\\'s your email ?'] }}",
          "subject": "Your Form submission copy ",
          "emailType": "text",
          "message": "=hello {{ $('On form submission').item.json['Full Name'] }} Thank you for reaching out we will repond as soon as possible about your project details \n\nForm details:\nName: {{ $('On form submission').item.json['Full Name'] }}\nYour project details: {{ $('On form submission').item.json['What project do you want to automated?'] }}\n\nTime Frame: {{ $('On form submission').item.json['What is your time frame?'] }}\n\nYour budget: {{ $('On form submission').item.json['What\\'s your project budget ?'] }}\n\n",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          704,
          528
        ],
        "id": "928bc79b-a88f-4789-864d-c42d91214598",
        "name": "high budget",
        "webhookId": "11c6d891-25a9-4536-809f-594c70209f87",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Low budget",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "medium budget",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "high budget",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Low budget": {
        "main": [
          []
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "cfc2a09af1aac7bc5e9d22c37a767e037dd5060d6ce3bc116e1652367a730e7e"
    }
  }