begginner/email-categorizer.json
{
    "nodes": [
      {
        "parameters": {
          "formTitle": "Lead form",
          "formDescription": "This will categorize low high and medium budget projects ",
          "formFields": {
            "values": [
              {
                "fieldLabel": "What is your name?",
                "placeholder": "John Smith"
              },
              {
                "fieldLabel": "Describe your project",
                "fieldType": "textarea",
                "placeholder": "Your project details here .....",
                "requiredField": true
              },
              {
                "fieldLabel": "What is your time frame?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "1 - 3 months"
                    },
                    {
                      "option": "3 - 6 months"
                    },
                    {
                      "option": "6 - 9 months"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "What's your budget?",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "$499 - $2997"
                    },
                    {
                      "option": "$2997 - $4997"
                    },
                    {
                      "option": "$4997 - $19997"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          0,
          16
        ],
        "id": "c7ef57f2-b556-4b09-9f8c-c175ddadf850",
        "name": "On form submission",
        "webhookId": "37d28ef0-5d93-4d40-9203-0d819a7c873a"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['What\\'s your budget?'] }}",
                      "rightValue": "$499 - $2997",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c175f1dc-861f-4215-ac49-5cb0d5f74d13"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Low budget"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c2d05e1f-5259-4a12-898a-b3b5ef70a94a",
                      "leftValue": "={{ $json['What\\'s your budget?'] }}",
                      "rightValue": "$2997 - $4997",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Medium budget"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "abba1162-4700-4ffa-bb2a-902980bb395d",
                      "leftValue": "={{ $json['What\\'s your budget?'] }}",
                      "rightValue": "$4997 - $19997",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "High budget"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          208,
          0
        ],
        "id": "171afde7-a0af-4387-8b8b-8d7516caf88e",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $json.id }}",
          "labelIds": [
            "Label_8541748320838471884"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          624,
          -144
        ],
        "id": "11a0bf27-7cf1-47d6-ad08-2da9162d25a3",
        "name": "Add label to message",
        "webhookId": "384f45df-23b8-4aed-8fae-2b06246f83c3",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $json.id }}",
          "labelIds": [
            "Label_8541748320838471884"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          624,
          16
        ],
        "id": "1a36cde2-8d62-4b55-aa72-7eebc93d30a2",
        "name": "Add label to message1",
        "webhookId": "384f45df-23b8-4aed-8fae-2b06246f83c3",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $json.id }}",
          "labelIds": [
            "Label_8541748320838471884"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          624,
          192
        ],
        "id": "51633b41-d6b1-4a99-af0d-19bd46824fe1",
        "name": "Add label to message2",
        "webhookId": "384f45df-23b8-4aed-8fae-2b06246f83c3",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "vanessasarah911@gmail.com",
          "subject": "=Lead Form  : {{ $json['What is your name?'] }}",
          "emailType": "text",
          "message": "=This is the name: {{ $json['What is your name?'] }}\n\nThis is the projects details: {{ $json['Describe your project'] }}\n\nThis is time frame: {{ $json['What is your time frame?'] }}\n\nAnd thier budget: {{ $json['What\\'s your budget?'] }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          432,
          -144
        ],
        "id": "fe2bd3fe-3a73-449b-bfe6-1d70b8582d61",
        "name": "Low budget label",
        "webhookId": "0c20907b-2004-4711-972b-5c504876a2fe",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "vanessasarah911@gmail.com",
          "subject": "=Lead Form  : {{ $json['What is your name?'] }}",
          "emailType": "text",
          "message": "=This is the name: {{ $json['What is your name?'] }}\n\nThis is the projects details: {{ $json['Describe your project'] }}\n\nThis is time frame: {{ $json['What is your time frame?'] }}\n\nAnd thier budget: {{ $json['What\\'s your budget?'] }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          432,
          16
        ],
        "id": "fb3ef52b-ada0-4721-98c0-f98bef339a5b",
        "name": "Medium budget label",
        "webhookId": "0c20907b-2004-4711-972b-5c504876a2fe",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "vanessasarah911@gmail.com",
          "subject": "=Lead Form  : {{ $json['What is your name?'] }}",
          "emailType": "text",
          "message": "=This is the name: {{ $json['What is your name?'] }}\n\nThis is the projects details: {{ $json['Describe your project'] }}\n\nThis is time frame: {{ $json['What is your time frame?'] }}\n\nAnd thier budget: {{ $json['What\\'s your budget?'] }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          432,
          192
        ],
        "id": "6e807f8e-2c3b-4c42-8d83-59b9dee03549",
        "name": "High budget label",
        "webhookId": "0c20907b-2004-4711-972b-5c504876a2fe",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Low budget label",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Medium budget label",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "High budget label",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Low budget label": {
        "main": [
          []
        ]
      },
      "Medium budget label": {
        "main": [
          [
            {
              "node": "Add label to message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "High budget label": {
        "main": [
          [
            {
              "node": "Add label to message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "cfc2a09af1aac7bc5e9d22c37a767e037dd5060d6ce3bc116e1652367a730e7e"
    }
  }