begginner/email-assistant.json
{
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "readStatus": "unread"
          }
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -1296,
          240
        ],
        "id": "0c466f68-6e87-4614-a830-933da4752972",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "messageId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -1104,
          240
        ],
        "id": "026f126c-a2e5-4406-b542-093a074afb77",
        "name": "Get a message",
        "webhookId": "b5d87f01-9187-4506-99cb-12cbcf309a31",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=To:\n{{ $json.from.value[0].address }}\n\nSubject line:\n{{ $json.Subject }}\n\nEmail body:\n\n{{ $json.text }}\n\nEmail sent on :{{ $json.date }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a personal emailing assistant that categorize and response to emails based on availability from a calendar tool and also a goals database to ensure the emails are being properly responded to and categorized.\n\nHere are the tools you have access to:\n\n- search_events: This is used to search for google calendar events for the user and to check availability. This must be checked before drafting responses regarding events.\n\nToday's data is: {{ $now }}\n\nWhen searhing events use tody's date and the date of when the email was sent to find calendar availability based on those factors.\n\n- goals_database : This is used to search an airtable database to see and find the user's goals. This should be checked to ensure the email responses you will be drafting are in line with the user. This must be checked before drafting any emails no matter what to see if it truly aligns with the user wants.\n\nYour Jobs:\n\n1. Respond to the email always using the goals_database tool to ensure it aligns with the user. When responding to emails that requires time availability, always check te calendar. Make thes emails short,snappy and down to earth. Add one fitting emoji per email.\n\n2. Next, you must categorize which type of email this is by adding one of the following labels to each respons:\n\nLabel 1: 'Spam'\n- Anything that spammy, sketchy or unessary based on my goals.\n\nLabel 2: 'Sponsorships'\n- Anything regarding sponsor deals.\n\nLabel 3: 'Promos'\n- Any promotiona; information that is about products or services.\n\nLabel 4: 'Meetings'\n- Anythin that requires me to be on a call, show up to an event, etc.\n\nLabel 5: 'Check Later'\n- Anything that falls outside the other 4 labels categories\n\nYou must respond in JSON format.\n\nHere ir the structure that you need to categorize each part of your response in :\n\n{\n  \"label\": \"labels here\",\n  \"response\": \"response here\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -880,
          240
        ],
        "id": "e7cc838c-244f-41e3-87b7-938223fa07dd",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -992,
          448
        ],
        "id": "76b8c4dc-40d9-4e32-86d5-4724ccc68510",
        "name": "4o-mini",
        "credentials": {
          "openAiApi": {
            "id": "SxUPORf9C7SorSJn",
            "name": "n8n free OpenAI API credits"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "searches events in google calender",
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "vanessasarah911@gmail.com",
            "mode": "list",
            "cachedResultName": "vanessasarah911@gmail.com"
          },
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -720,
          464
        ],
        "id": "ec6ca003-2a64-49d9-af7b-f5b0f8c04f7d",
        "name": "search_events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "0SwX8jOKaprlx93G",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Get goals from airtable database by searching records.",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appQiBmUIe6Hy3g73",
            "mode": "list",
            "cachedResultName": "goals workspace",
            "cachedResultUrl": "https://airtable.com/appQiBmUIe6Hy3g73"
          },
          "table": {
            "__rl": true,
            "value": "tbljYP1NGvBl7S17l",
            "mode": "list",
            "cachedResultName": "goals",
            "cachedResultUrl": "https://airtable.com/appQiBmUIe6Hy3g73/tbljYP1NGvBl7S17l"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1,
        "position": [
          -864,
          464
        ],
        "id": "95f5bf08-9f35-4ba1-91e9-01bbd30f39a3",
        "name": "goals_database",
        "credentials": {
          "airtableTokenApi": {
            "id": "uHvyvKLc87ePqqNN",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"label\": \"promos\",\n  \"response\": \"response\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -576,
          464
        ],
        "id": "b075f337-cb6e-4f3a-a283-45e6405184c6",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "resource": "draft",
          "subject": "test",
          "message": "={{ $json.output.response }}",
          "options": {
            "threadId": "={{ $('Get a message').item.json.threadId }}",
            "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -528,
          240
        ],
        "id": "4f82fb3c-120c-403d-b0b7-3468262444e1",
        "name": "Create a draft",
        "webhookId": "9e004e58-8e89-4c02-a1fb-96aed2c81bd1",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "meetings",
                      "rightValue": "meetings",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8def63e0-56d7-4a99-aaf9-c9608abfbd0a"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "meetings"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b6a2b093-da73-409c-9a4d-646b43c4e442",
                      "leftValue": "promos",
                      "rightValue": "promos",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "promos"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "0a97734c-1862-4e6c-9cfc-c00c3675a6c5",
                      "leftValue": "sponsorships",
                      "rightValue": "sponsorships",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "sponsorships"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d16ef8bf-9f1b-4b72-8eae-6fdd92ea4c61",
                      "leftValue": "check later",
                      "rightValue": "check later",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "check later"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "1e19e256-a836-40c8-bb79-f85c26ded762",
                      "leftValue": "spam",
                      "rightValue": "spam",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "spam"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -320,
          240
        ],
        "id": "1b6ee2c2-3e20-4b66-bc14-d72a96cbaaa7",
        "name": "Switch"
      },
      {
        "parameters": {
          "content": "",
          "height": 768,
          "width": 1632,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1344,
          16
        ],
        "typeVersion": 1,
        "id": "9621fde7-1ae6-4f6e-8ae5-d2a7cf37eba3",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "resource": "thread",
          "operation": "addLabels",
          "threadId": "={{ $json.message.threadId }}",
          "labelIds": [
            "Label_9061647793776195317"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "b0f254d4-bf90-4dea-9a9e-3b7ce063a969",
        "name": "meetings label",
        "webhookId": "d99e99f8-347d-4a37-a750-b7b061aa3ee6",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "thread",
          "operation": "addLabels",
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "labelIds": [
            "CATEGORY_PROMOTIONS"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          0,
          160
        ],
        "id": "0bdb13ef-85d6-4f2b-9721-0b5749edea5e",
        "name": "promos label",
        "webhookId": "d99e99f8-347d-4a37-a750-b7b061aa3ee6",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "thread",
          "operation": "addLabels",
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "labelIds": [
            "Label_8990840441394918901"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          0,
          304
        ],
        "id": "95512c15-3128-4d27-92fa-0dc92e4a37e1",
        "name": "sponsorships",
        "webhookId": "d99e99f8-347d-4a37-a750-b7b061aa3ee6",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "thread",
          "operation": "addLabels",
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "labelIds": [
            "Label_5119519480918097876"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          0,
          464
        ],
        "id": "222b9315-8f2a-470b-b483-a9ba5c84c6c4",
        "name": "check later",
        "webhookId": "d99e99f8-347d-4a37-a750-b7b061aa3ee6",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "thread",
          "operation": "addLabels",
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "labelIds": [
            "SPAM"
          ]
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          0,
          624
        ],
        "id": "69670659-d9c5-4fe3-9b79-3dcbebb4370a",
        "name": "spam",
        "webhookId": "d99e99f8-347d-4a37-a750-b7b061aa3ee6",
        "credentials": {
          "gmailOAuth2": {
            "id": "xEMwMQVDABtWFkmP",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Get a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a message": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Create a draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "4o-mini": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "search_events": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "goals_database": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Create a draft": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "meetings label",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "promos label",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "sponsorships",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "check later",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "spam",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "cfc2a09af1aac7bc5e9d22c37a767e037dd5060d6ce3bc116e1652367a730e7e"
    }
  }