begginner/telegram-bot.json
{
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "8b8c501e-95ec-4d6e-be1a-69cf0a38c86b",
        "name": "Telegram Trigger",
        "webhookId": "35de5cdf-088d-4600-803f-470c5f1c7bab",
        "credentials": {
          "telegramApi": {
            "id": "PXTqOKkVovUDQbgJ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "abd6e0eb-7a2c-4b44-b234-6f0ed144f133",
                "leftValue": "={{ $json.message.voice.file_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          208,
          0
        ],
        "id": "ad968781-bac6-4fb2-a086-2c6e78d6f5ee",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "59d92cd5-3dfa-4345-820d-f6995dd50991",
                "name": "message.text",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          688,
          48
        ],
        "id": "dd5517d2-1bcd-42be-a793-4b52fc64b021",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          464,
          -112
        ],
        "id": "c1833e00-2f14-4dbe-bb7f-a5dd97285d39",
        "name": "Get a file",
        "webhookId": "553b4ca3-9740-40bc-800e-c59a6420fb84",
        "credentials": {
          "telegramApi": {
            "id": "PXTqOKkVovUDQbgJ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          672,
          -112
        ],
        "id": "b56253cf-e21d-4cb7-9523-dad928fabd5d",
        "name": "Transcribe a recording1",
        "credentials": {
          "googlePalmApi": {
            "id": "9FEPDiDR3HAmBTlV",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          944,
          -32
        ],
        "id": "1afbcf1e-3bf8-4ed0-a41e-0a6c0ac3f034",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          992,
          144
        ],
        "id": "8e164ece-8876-44f6-8ace-a6a251a96143",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "SxUPORf9C7SorSJn",
            "name": "n8n free OpenAI API credits"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1280,
          -32
        ],
        "id": "3fc4474e-99b0-4d4d-83bd-da54eea56829",
        "name": "Send a text message",
        "webhookId": "5ca52e54-4431-47c6-b3f6-f885a6c56e5e",
        "credentials": {
          "telegramApi": {
            "id": "PXTqOKkVovUDQbgJ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1152,
          144
        ],
        "id": "4b48b2c4-3a39-4618-b148-874fa7db8ac5",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Transcribe a recording1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording1": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "cfc2a09af1aac7bc5e9d22c37a767e037dd5060d6ce3bc116e1652367a730e7e"
    }
  }