personal-assistant/tools/google-calendar-agent.json
{
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "userQuery"
              },
              {
                "name": "jobDescription"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -64,
          0
        ],
        "id": "a2daf747-9dd2-4868-887d-beb9b9fca2dc",
        "name": "personal assistant data"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          192,
          176
        ],
        "id": "5913bb29-1865-4564-a2d2-b43b4e08c36f",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "SxUPORf9C7SorSJn",
            "name": "n8n free OpenAI API credits"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=userQuery:\n{{ $json.userQuery }}\n\njobDescription:\n{{ $json.jobDescription }}",
          "options": {
            "systemMessage": "=You are an expert google calendar manager.\n\ntodays date is : {{ $now }}\n\nYour job is to take in 'userQuery' and 'jobDescription' and determine which Google calendar tool needs to be used in order to complete what is being requested.\n\nIf you dont have sufficient information to complete task, then ask the user for more details in the category you need more details in."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          208,
          0
        ],
        "id": "daaeeae2-e15e-4f08-be2c-4ab63ca1d674",
        "name": "Google calendar agent"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Create an event in Google Calendar",
          "calendar": {
            "__rl": true,
            "value": "vanessasarah911@gmail.com",
            "mode": "list",
            "cachedResultName": "vanessasarah911@gmail.com"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          320,
          304
        ],
        "id": "89773f26-fdf6-418c-8008-d55b4836a054",
        "name": "create_events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "0SwX8jOKaprlx93G",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "vanessasarah911@gmail.com",
            "mode": "list",
            "cachedResultName": "vanessasarah911@gmail.com"
          },
          "returnAll": true,
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          432,
          304
        ],
        "id": "ca40f1bc-6278-4e00-bfa7-89eb87fc2730",
        "name": "search_all_events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "0SwX8jOKaprlx93G",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "vanessasarah911@gmail.com",
            "mode": "list",
            "cachedResultName": "vanessasarah911@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          656,
          256
        ],
        "id": "fce55aef-6988-4bd5-8f91-e33b76f6d2e3",
        "name": "update_event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "0SwX8jOKaprlx93G",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "vanessasarah911@gmail.com",
            "mode": "list",
            "cachedResultName": "vanessasarah911@gmail.com"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          544,
          288
        ],
        "id": "44cf9fb3-2ba7-42e1-8cbf-8c4243aafe09",
        "name": "delete_event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "0SwX8jOKaprlx93G",
            "name": "Google Calendar account"
          }
        }
      }
    ],
    "connections": {
      "personal assistant data": {
        "main": [
          [
            {
              "node": "Google calendar agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Google calendar agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "create_events": {
        "ai_tool": [
          [
            {
              "node": "Google calendar agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "search_all_events": {
        "ai_tool": [
          [
            {
              "node": "Google calendar agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "update_event": {
        "ai_tool": [
          [
            {
              "node": "Google calendar agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "delete_event": {
        "ai_tool": [
          [
            {
              "node": "Google calendar agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "cfc2a09af1aac7bc5e9d22c37a767e037dd5060d6ce3bc116e1652367a730e7e"
    }
  }